.process-section {
  background: #f5f5f5;
  padding: 30px 0 80px;
}

.process-section .sec-title {
  text-align: center;
  margin-bottom: 50px;
}

.process-section .sec-title h2 {
  color: var(--bs-dark);
  font-size: 48px;
}

.process-section .row {
  gap: 35px;
  padding-top: 40px; 
  display: flex;
}

.process-block {
  flex: 1;
}

.process-block .inner-box {
  background: var(--bs-white);
  border: 1px solid #eeeeee;
  padding: 40px 30px;
  position: relative;
  transition: background 0.4s ease, border-color 0.4s ease;
  cursor: pointer;
  overflow: visible;
}


/* Number */
.process-block .num {
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 48px;
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--bs-dark);
  line-height: 1.5;
  transition: color 0.4s ease;
}

.process-block .inner-box:hover .num {
  color: var(--primary-color);
}

/* Icon */
.process-block .icon-box {
  width: 70px;
  height: 70px;
  background: #fff5e6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: background 0.4s ease;
}

.process-block .icon-box i {
  font-size: 32px;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.process-block .inner-box:hover .icon-box i {
  color: var(--bs-dark);
}

/* Title */
.process-block h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--bs-dark);
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
  transition: color 0.4s ease;
}

.process-block .inner-box:hover h4 {
  color: var(--bs-dark);
}

/* Text */
.process-block p {
  font-size: 15px;
  line-height: 1.8;
  color: #777;
  margin: 0;
  transition: color 0.4s ease;
}

.process-block .inner-box:hover p {
  color: #777;
}

@media (max-width: 768px) {
    .process-section .row {
        flex-wrap: wrap;
        gap: 50px 20px;
    }

     .process-section .sec-title h2 {
        font-size: 36px;
    }

    .process-block {
        flex: 0 0 calc(50% - 10px);   
        width: calc(50% - 10px);
    }
}

@media (max-width: 575px) {
    .process-block {
        flex: 0 0 100%;              
        width: 100%;
    }
}
