/* css/style.css */
:root {

    --primary-color: #d8a03d;
    --bs-dark: #2f3540;
    --bs-white: #ffffff;
    --font-theme: 'Plus Jakarta Sans', sans-serif;
    --font-heading: 'Oswald', sans-serif;
    --font-size: 14px;
    --header-height: 103px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-theme);
    background: var(--bs-white);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/* AUTO CONTAINER */
.auto-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* HEADER */
.header {
    width: 100%;
    padding: 28px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background: var(--bs-white);
    backdrop-filter: none;
    transform: translateY(0);
    /* thêm dòng này */
    transition: transform 0.6s ease, padding 0.3s ease, box-shadow 0.3s ease;
    /* thêm dòng này */
}

/* FLEX */
.header .container,
.header .container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

/* LOGO */
.logo a {
    text-decoration: none;
}

.logo a img {
    height: 40px;
    width: auto;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}


/* -----DROPDOWN----- */
.nav-links li {
    position: relative;
}

.nav-links li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--bs-white);
    min-width: 200px;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-links li:hover>.dropdown-menu {
    display: block;
}

.nav-links .dropdown-menu li a {
    display: block;
    padding: 10px 24px;
    color: var(--bs-dark);
    font-size: var(--font-size);
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
}

.nav-links .dropdown-menu li a:hover {
    color: var(--primary-color);
    padding-left: 30px;
}

.nav-links .dropdown-menu li a::after {
    display: none;
}


/* DROPDOWN SUB */
.dropdown-sub {
    position: relative;
}

.dropdown-menu-sub {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--bs-white);
    min-width: 200px;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.dropdown-sub:hover>.dropdown-menu-sub {
    display: block;
}

/* Icon mũi tên nhỏ */
.nav-links li a i {
    font-size: 10px;
    margin-left: 4px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--bs-dark);
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s ease;
    position: relative;
}

/* Hover Line */
.nav-links li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--primary-color);
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.nav-links li a:hover::after {
    width: 100%;
}

/* BUTTON */
.btn-outline {
    text-decoration: none;
    color: var(--bs-white);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px 26px;
    font-size: var(--font-size);
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: color 0.4s ease, border-color 0.4s ease;
    display: inline-block;
}

.btn-outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bs-dark);
    z-index: -1;
    transition: left 0.4s ease;
}

.btn-outline:hover::before {
    left: 0;
}

.btn-outline:hover {
    color: var(--primary-color);
    border-color: var(--bs-dark);
}

/* BUTTON SCROLL */
.scroll-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 48px;
    height: 48px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    z-index: 999;
    border-radius: 50%;
}

.scroll-top-btn:hover {
    background: var(--bs-dark);
}

.scroll-top-btn i {
    font-size: 22px;
    color: var(--bs-white);

}

.scroll-top-btn,
.scroll-top-btn:focus,
.scroll-top-btn:visited {
    outline: none;
    text-decoration: none;
}


/* logic cuộn header */
.header.header-scrolled {
    transform: translateY(0);
    padding: 18px 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}

.header.header-scrolled .header-btn {
    display: none;
}

.header.header-scrolled .navbar {
    margin-left: auto;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.hamburger span {
    display: block;
    width: 28px;
    height: 2px;
    background: var(--bs-dark);
    transition: 0.3s;
}

/* OVERLAY */
.mobile-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.mobile-overlay.active {
    display: block;
}

/* MOBILE SIDEBAR */
.mobile-sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 320px;
    height: 100%;
    background: var(--bs-dark);
    z-index: 9999;
    transition: right 0.4s ease;
    overflow-y: auto;
    padding-bottom: 0px;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.mobile-sidebar.active {
    right: 0;
}

/* SIDEBAR HEADER */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header .logo img {
    height: 40px;
    width: auto;
}

.sidebar-close {
    background: none;
    border: none;
    color: var(--bs-white);
    font-size: 22px;
    cursor: pointer;
}

/* SIDEBAR LINKS */
.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links>li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--bs-white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    transition: color 0.3s;
}

.sidebar-links>li>a:hover {
    color: var(--primary-color);
}

/* SIDEBAR SUBMENU */
.sidebar-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-submenu.open {
    display: block;
}

.sidebar-submenu li a {
    display: block;
    padding: 12px 24px 12px 40px;
    color: var(--bs-white);
    text-decoration: none;
    font-size: var(--font-size);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: color 0.3s;
}

.sidebar-submenu li a:hover {
    color: var(--primary-color);
}

/* Sidebar submenu dropdown */
.sidebar-submenu .sidebar-dropdown>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px 12px 40px;
    color: var(--bs-white);
    text-decoration: none;
    font-size: var(--font-size);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: color 0.3s;
}

.sidebar-submenu .sidebar-dropdown>a:hover {
    color: var(--primary-color);
}

/* SIDEBAR CONTACT */
.sidebar-contact {
    padding: 30px 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar-contact-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.sidebar-contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
}

.sidebar-contact-icon i {
    color: var(--primary-color);
    font-size: 30px;
}

.sidebar-contact-text span {
    display: block;
    color: var(--primary-color);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 4px;
}

.sidebar-contact-text a {
    color: var(--bs-white);
    text-decoration: none;
    font-size: var(--font-size);
    transition: color 0.3s;
}

.sidebar-contact-text a:hover {
    color: var(--primary-color);
}

/* SIDEBAR MXH */
.sidebar-social {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    margin-top: auto;
}

.sidebar-social a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    color: var(--bs-white);
    text-decoration: none;
    font-size: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

.sidebar-social a:last-child {
    border-right: none;
}

.sidebar-social a:hover {
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.05);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .navbar {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .outer-box {
        display: none;
    }

    .outer-box .search-btn,
    .outer-box .toggle-hidden-bar {
        display: none;
    }

    .header .container,
    .header .container1 {
        padding: 0 20px;
    }
}